

.graphe {
    margin: 0 auto;
    width: 20vw;
    height: 20vw;
}

.textDashboard {
    width: 22vw;
    padding: 1vw;
    margin-top: 5vw;
    margin-left: 30vw;
    font-family: Lato;
    color: #052550;
    background-color: #E9CBB1;
    border-radius: 10px;
    border: #052550 2px solid;

}

.textDashboard span {
    font-weight: bold;
}

/* ---- Page Mail ----*/

.FormMail {
    margin-top: 5vw;
    margin-left: 10vw;
}

.FormMail label {
    font-family: Lato;
    color: #052550;
}

.FormMail input {
    height: 3vw;
    width: 20vw;
    border: 1px solid #052550;
    background-color: #EDE8E4;
}

.FormMail input:read-write {
    padding-left: 1vw;
    color: #052550;
}

.FormMail select {
    height: 3vw;
    width: 21vw;
    background-color: #EDE8E4;
    appearance: none;
    border-radius: 0;
    cursor: pointer;
}

.FormMail button {
    margin-top: 1vw;
    background-color: #E9CBB1;
    border: none;
    border-radius: 10px;
    padding: 1vw;
    color: #052550;
    font-size: 1rem;
    font-family: Lato;
    font-weight: bold;
    cursor: pointer;
}


.FormMail textarea {
    height: 5vw;
    width: 40vw;
    border: 1px solid #052550;
    background-color: #EDE8E4;
}


/* ----------------------- */

.labelStats {
    margin-left: 5vw;
    font-family: Lato;
    color: #052550;
}

#annee {
    height: 3vw;
    width: 21vw;
    background-color: #EDE8E4;
    appearance: none;
    border-radius: 0;
    cursor: pointer;
}

#NomEchantillon {
    height: 3vw;
    width: 21vw;
    background-color: #EDE8E4;
    appearance: none;
    border-radius: 0;
    cursor: pointer;
}

.ButtonStats {
    margin-left: 5vw;
    background-color: #E9CBB1;
    border: none;
    border-radius: 10px;
    padding: 1vw;
    color: #052550;
    font-size: 1rem;
    font-family: Lato;
    font-weight: bold;
    cursor: pointer;
}

#echantillonChart2 {
    margin-top: 5vw;
    margin-left: 5vw;
}