/* Index Visiteur */

#FormCR {
    margin-top: 10vw;
    margin-right: 5vw;
    margin-left: 5vw;
}

#FormCR h1 {
    margin-top: -5vw;
    font-size: 4vw;
    font-family: Lato;
    color: #052550;
}

#FormCR label {
    font-family: Lato;
    color: #052550;
    font-weight: bold;
}

#FormCR input {
    height: 3vw;
    width: 20vw;
    border: 1px solid #052550;
    background-color: #EDE8E4;
}

#FormCR input:read-write {
    padding-left: 1vw;
    color: #052550;
}

#FormCR select {
    height: 3vw;
    width: 21vw;
    background-color: #EDE8E4;
    appearance: none;
    border-radius: 0;
    cursor: pointer;
}

#FormCR option {
    margin-left: 1vw;
}

#echantillon2 {
    margin-left: 2vw;
}


#FormCR textarea {
    height: 3vw;
    width: 20vw;
    border: 1px solid #052550;
    background-color: #EDE8E4;
}

#FormCR textarea:read-write {
    padding-left: 1vw;
    color: #052550;
}

#FormCR button {
    margin-top: 1vw;
    background-color: #E9CBB1;
    border: none;
    border-radius: 10px;
    padding: 1vw;
    color: #052550;
    font-size: 1rem;
    font-family: Lato;
    font-weight: bold;
    cursor: pointer;
}


/* Historique CR */


.TitlePage {
    margin-left: 10vw;
    margin-top: 5vw;
    margin-bottom: 2vw;
    font-size: 2vw;
    color: #052550;
    font-family: Lato;
}

.historiqueCR {
    margin: 0 auto;
    width: 80%;
    border: 1px solid #bdbab7;
}

.historiqueCR summary {
    color: #052550;
    font-family: Lato;
    padding: 0.5vw;
}

.historiqueCR summary span {
    font-weight: bold;
}

.traitV {
    height: 0.4vw;
    width: 100%;
    background-color: #052550;
}

.commentaireCR {
    color: #052550;
    font-size: 1vw;
    margin-top: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 5vw;
    font-family: Lato;
}

.BtnModifier {
    margin-left: 2vw;
    margin-bottom: 5vw;
    color: #052550;
    border: 1px solid #052550;
    padding: 1vw;
    font-size: 1vw;
}

.BtnSupprimer {
    margin-left: 70%;
    margin-bottom: 2vw;
    border: 1px solid #052550;
    padding: 1vw;
    font-size: 1vw;
    cursor: pointer;
    color: #EDE8E4;
    background-color: darkred;
}

.gras {
    font-weight: bold;
}

/* */

.ConsultCard {
    width: 30vw;
    padding: 2vw;
    background-color: #E9CBB1;
    border: 2px solid #052550;
}

.TextConsult {
    font-family: Lato;
    color: #052550;
    font-weight: normal;
}

.TextConsult span {
    font-weight: bold;
}

.FormInfo {
    width: 30vw;
    background-color: #E9CBB1;
    border-radius: 10px;
}

.FormInfo label {
    color: #052550;
    font-family: Lato;
    font-weight: bold;
}

.FormInfo input {
    height: 2vw;
    margin-top: 2vw;
    width: 10vw;
}

.FormInfo select {
    margin-top: 2vw;
}

.FormInfo button {
    padding: 1vw;
    background-color: #E9CBB1;
    border: none;
    border-radius: 10px;
}

#ButtonLireMail {
    margin-left: 70%;
    margin-bottom: 2vw;
    border: 1px solid #052550;
    padding: 1vw;
    font-size: 1vw;
    cursor: pointer;
    color: #052550;
    background-color: #d2ccc9;
}